<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE54DDBA1DEEC1D300D116F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE54DDD31DEEC1D400D116F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE54DDDE1DEEC1D400D116F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
